<%= render "shared/banner" %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-3">
        <%= render "shared/card", cocktail: c %>
      </div>
    <% end %>
  </div>
</div>


